<div class="row clearfix " ng-init="initGirds();">

	<div class="row clearfix " ng-repeat="navAndVideos in navsAndVideos" style="padding-left:46px;">
		<h2>{{navAndVideos.vTopName}}</h2>
		<div class="row clearfix">
			<div class="col-sm-1 col-sm-offset-1 col-md-1 ">
				<button type="button" class="btn btn-info" ng-disabled="navAndVideos.preDisabled" ng-click="changeSecNavShow(navAndVideos,0)">前一页</button>
			</div>
			<div class="col-sm-5 col-sm-offset-1 col-md-6 ">
				<ul class="list-inline">
					<li class="text-center" ng-repeat="secNav in navAndVideos.secList " ng-if="$index >= navAndVideos.minIndex && $index < navAndVideos.maxIndex " ng-click="changeVideos(navAndVideos,$index)"><a href="">{{secNav.vSecName}}</a></li>
				</ul>
			</div>
			<div class="col-sm-1 col-sm-offset-1 col-md-1 ">
				<button type="button" class="btn btn-info" ng-disabled="navAndVideos.nextDisabled" ng-click="changeSecNavShow(navAndVideos,1)">后一页</button>
			</div>
		</div>
		
		<div class="row clearfix">
			<div ng-if="navAndVideos.secList[navAndVideos.curIndex].videos[0].vId != null" class="col-md-3 resent-grid recommended-grid" ng-repeat="video in navAndVideos.secList[navAndVideos.curIndex].videos">
				<div class="resent-grid-img recommended-grid-img">
					<a href="" ng-click="toDetail(video)"><img src="static/images/r1.jpg" alt="" /></a>
					<!-- <div class="time small-time">
						<p>50集全</p>
					</div> -->
				</div>
				<div class="resent-grid-info recommended-grid-info video-info-grid">
					<h5>
						<a href="" ng-click="toDetail(video)" class="title">{{video.vName}}</a>
					</h5>
					<p class="views views-info">{{video.vTitle}}</p>
				</div>
			</div>
			
			<div class="clearfix"></div>
		</div>
	
		<hr noshade="noshade" />
	</div>

</div>

